{% extends "::layout/base_statistics.html.twig" %}


{% block title %}

{% set data_user = app.session.get('data_user') %}

 Statistiques publicité {{ data_user[0]['raison_sociale'] }} 

{% endblock %}

{% block stylesheets %}

<style>
    .demo { 
        position: relative; 
    }
    .demo i {
        position: absolute; bottom: 10px; right: 24px; top: auto; cursor: pointer;
    }
    .card-body:hover {
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
    }
    .card-stats{
        background-color: #edf1f5!important;
        border: 0;
    }
</style>

{% endblock %}


{% block body %}



        

                    <div class="col-lg-6 col-md-8 col-sm-8 col-xs-12">
                        <h4 class="page-title">{{ data_user[0]['raison_sociale'] }}<span class="page-title2" ></span> </h4>
                        <input type="hidden" name="ads" id="ads" value="ads">
                    </div>
                </div>
            </div>


             <div class="container-fluid">

                {% if banners %}
                  <h5><b>NB: </b>Merci de choisir la bannière pour afficher les statistiques.</h5>
                {% else %}
                  <h5><b><i class="fas fa-exclamation-circle"></i> </b> Vous n'avez aucun produit publicité.</h5>
                {% endif %}
                <div class="row total">
                    {% for b in banners %}
                            
                            {% if b.cd_posizione == 9 %}
                                
                                <div class='col-xl-4 col-lg-4'>
                                    <a onclick="carreacceuilChart('{{b.id_banner}}')">
                                        <div class='card card-stats mb-4 mb-xl-0'>
                                            <div class='card-body' style="background-color: white; border-radius:15px;padding: 12px;box-shadow: 0 4px 8px 0 rgb(0 0 0 / 1%), 0 6px 20px 0 rgb(0 0 0 / 19%);" >
                                                <div class='row'>
                                                    <div class='col'>
                                                        <h5 class='card-title text-uppercase text-muted mb-0' ></h5>
                                                        <span class='h2 font-weight-bold mb-0' style="color: #f5365c;line-height: 1; font-size: 17px;">Bannière carré</span><!-- 
                                                        <span class='h2 font-weight-bold mb-0' style="color: white;">Bannière carré</span> -->
                                                        <h5 class='card-title text-muted mb-0' style="padding-top: 4px;">{{ b.de_nome |replace({ (code_firme) : ""}) }}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h5 style="padding: 1px 6px 15px 6px; text-align: center; font-size: 15px; font-weight: 600;"><!-- {{ b.de_nome |replace({ (code_firme) : ""}) }} --></h5>
                                    </a>
                                </div>

                            {% endif %}                            

                            {% if b.cd_posizione == 19 %}
                            {% set code_firme = data_user[0]['code_firme'] %}
                            
                                <div class='col-xl-4 col-lg-4'>
                                    <a onclick="carreacceuilChart('{{b.id_banner}}')">    
                                        <div class='card card-stats mb-4 mb-xl-0'>
                                            <div class='card-body' style="background-color: white; border-radius:15px;padding: 12px;box-shadow: 0 4px 8px 0 rgb(0 0 0 / 1%), 0 6px 20px 0 rgb(0 0 0 / 19%);" >
                                                <div class='row'>
                                                    <div class='col'>
                                                        <h5 class='card-title text-uppercase text-muted mb-0' ></h5>
                                                        <span class='h2 font-weight-bold mb-0' style="color: #fb6340;line-height: 1; font-size: 17px;">Bannière haut de la liste de réponse</span>
                                                        <h5 class='card-title text-muted mb-0' style="padding-top: 4px;">{{ b.de_nome |replace({ (code_firme) : ""}) }}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h5 style="padding: 1px 6px 15px 6px; text-align: center; font-size: 15px; font-weight: 600;"></h5>
                                    </a>
                                </div>
                                

                            {% endif %}

                            {% if b.cd_posizione == 20 %}
                                
                                <div class='col-xl-4 col-lg-4'>
                                    <a onclick="carreacceuilChart('{{b.id_banner}}')">
                                        <div class='card card-stats mb-4 mb-xl-0'>
                                            <div class='card-body' style="background-color: white; border-radius:15px;padding: 12px;box-shadow: 0 4px 8px 0 rgb(0 0 0 / 1%), 0 6px 20px 0 rgb(0 0 0 / 19%);" >
                                                <div class='row'>
                                                    <div class='col'>
                                                        <h5 class='card-title text-uppercase text-muted mb-0' ></h5>
                                                        <span class='h2 font-weight-bold mb-0' style="color: #7ace4c;line-height: 1; font-size: 17px;">Bannière bas de la liste de réponse</span>
                                                        <h5 class='card-title text-muted mb-0' style="padding-top: 4px;">{{ b.de_nome |replace({ (code_firme) : ""}) }}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h5 style="padding: 1px 6px 15px 6px; text-align: center; font-size: 15px; font-weight: 600;"></h5>
                                    </a>
                                </div>
                                
                            {% endif %}

                            {% if b.cd_posizione == 21 %}

                                <div class='col-xl-4 col-lg-4'>
                                    <a onclick="carreacceuilChart('{{b.id_banner}}')">
                                        <div class='card card-stats mb-4 mb-xl-0'>
                                            <div class='card-body' style="background-color: white; border-radius: 15px;padding: 12px;box-shadow: 0 4px 8px 0 rgb(0 0 0 / 1%), 0 6px 20px 0 rgb(0 0 0 / 19%);" >
                                                <div class='row'>
                                                    <div class='col'>
                                                        <h5 class='card-title text-uppercase text-muted mb-0' ></h5>
                                                        <span class='h2 font-weight-bold mb-0' style="color: #11cdef ;line-height: 1; font-size: 17px;">Bannière fiche prospect</span>
                                                        <h5 class='card-title text-muted mb-0' style="padding-top: 4px;">{{ b.de_nome |replace({ (code_firme) : ""}) }}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h5 style="padding: 1px 6px 15px 6px; text-align: center; font-size: 15px; font-weight: 600;"></h5>
                                    </a>
                                </div>

                                
                            {% endif %}

                    {% endfor %}
                </div>


            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- PRODUCTS YEARLY SALES -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 chart-pub-click" >
                    </div>
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 chart-pub">
                    </div>
                </div>

            </div>

            <!--<div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="white-box">
                            <h3 class="box-title">Carte visite</h3>
                            <div class="d-md-flex">
                                <ul class="list-inline d-flex ms-auto">
                                    <li class="ps-3">
                                        <h5><i class="fa fa-circle me-1 text-inverse"></i>Parution</h5>
                                    </li>
                                </ul>
                            </div>
                            <div id="ct-visits" style="height: 420px;">
                            	<img src="{{ asset('public_statistics/plugins/images/preloader.gif') }}" id="loading_visit_chart">
                                <div class="chartist-tooltip" style="top: -13px; left: -12px;"><span
                                        class="chartist-tooltip-value">6</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
		            <div class="col-xl-12 col-lg-12">
		            	<h3 class="affichage_title" >Nombre de parution de la carte de viste</h3>
		            </div>
		        </div>

                

		          <div class="row parition_cv">
		            <img src="{{ asset('public_statistics/plugins/images/preloader.gif') }}" id="loading_parution_cv">
		          </div>


		        <div class="row">
		            <div class="col-xl-12 col-lg-12">
		            	<h3 class="affichage_title mt-4" >Nombre de parution de la fiche</h3>
		            </div>
		        </div>

                

		          <div class="row parition_fiche">
		            <img src="{{ asset('public_statistics/plugins/images/preloader.gif') }}" id="loading_parution_fiche">
		          </div>


                <div class="row" style="margin-top: 30px;">
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <div class="white-box">
                            <div class="d-md-flex mb-3 ">
                                <h3 class="box-title mb-0">Top 5 recherches dans google</h3>
                            </div>
                            <div class="table-responsive">
                                <table class="table no-wrap">
                                    <tbody id="table_t_r">
                                      <img src="{{ asset('public_statistics/plugins/images/preloader.gif') }}" id="loading_key">                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </div> -->

            </div>



            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center"> 2021 © Statistics Powered By <a
                    href="https://www.telecontact.ma/">Télécontact</a>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->



{% endblock %}

{% block javascripts %}

	<script>


                $( document ).ajaxStart(function() {
                    
                });
                $( document ).ajaxStop(function(){
                     $('body').css('pointer-events', 'auto');
                     $('body').removeAttr('id');
                });
			


			
            function carreacceuilChart(id){

                $('body').css('pointer-events', 'none');
                $('body').attr('id' , 'overlay');
        
                var code_firme= $("input[name=code_firme]").val();
                var start_period= $("input[name=start-period]").val();
                var end_period= $("input[name=end-period]").val();

                var start_period = start_period;
                var end_period = end_period;
               
                $('.chart-pub').empty();
                $('.chart-pub-click').empty();

                $('.chart-pub').append('<div class="white-box "><h3 class="box-title box-title-change">Statistiques publicités</h3><div class="d-md-flex"><ul class="list-inline d-flex ms-auto"><li class="ps-3"></li></ul></div><div id="ct-visits" style="height: 420px;"><img src="{{ asset("public_statistics/plugins/images/preloader.gif") }}" id="loading_visit_chart"><div class="chartist-tooltip" style="top: -13px; left: -12px;"><span class="chartist-tooltip-value">6</span></div><canvas id="ctx" ></canvas></div></div>');

                $.ajax({
                        url     : "{{path('carreacceuil')}}",
                        type    : 'POST',
                        data    : {code_firme: code_firme, start_period: start_period, end_period: end_period, id:id},
                        success : function(data){ 
                            var titre = data.carreacceuil_click[0]['de_nome'];
                            var titre = titre.replace(data.code_firme, "");
                            $('#loading_visit_chart').css('display', 'none');
                            $('.chart-pub-click').append('<div class="white-box" style="padding-top: 12px; padding-bottom: 2px; margin-bottom: 12px;background-color: #2cabe3;color: white;"><h3 class="box-title box-title-change"> '+ titre +' </h3></div><div class="white-box row col-12" style="    margin-left: 0px!important;padding-top: 12px; padding-bottom: 2px; margin-bottom: 12px;"><h3 class="box-title box-title-change col-6"> Nombre affichage : <span class="text-success">'+ data.carreacceuil_click[0]['view'] +'</span></h3><h3 class="box-title box-title-change col-6"> Nombre de clics : <span class="text-success">'+ data.carreacceuil_click[0]['click'] +'</span></h3></div>');
                            var result = data.carreacceuil;
                            var dates = data.dates;

                            chartByMonth(result, dates);

                        },
                        error : function(resultat, statut, erreur){
                            alert('carreacceuilChart no');
                        }

                    });              

            };


            async function chartByMonth(result, dates){

                var a =[];
                      for($i=0; $i<result.length;$i++){
                          a.push(result[$i]['nu_pageviews']);
                      }

                var b =[];
                      for($i=0; $i<result.length;$i++){
                          b.push(result[$i]['nu_click']);
                      }

                var isChartRendered = false;
                var chart = new Chart(ctx, {
                   type: 'line',
                   data: {
                      labels: dates,
                      datasets: [{
                        label: 'Affichage',
                        yAxisID: 'Affichage',
                        data: a,
                        backgroundColor: 'rgba(0, 119, 290, 0.2)',
                        borderColor: 'rgba(0, 119, 290, 0.6)',
                        fill: true
                        }, {
                        label: 'Clic',
                        yAxisID: 'Clic',
                        data: b,
                        backgroundColor: 'rgba(255, 221, 0, 0.2)',
                        borderColor: 'rgba(255, 221, 0, 0.6)',
                        fill: true
                        }]
                   },
                   options: { 
                      // setting following option is mandatory
                      animation: {
                         onComplete: function() {
                            isChartRendered = true,
                            $('body').css('pointer-events', 'auto');
                            $('body').removeAttr('id');
                            
                         }
                      },
                      scales: {
                         

                          yAxes: [{
                            id: 'Affichage',
                            type: 'linear',
                            position: 'left',
                          }, {
                            id: 'Clic',
                            type: 'linear',
                            position: 'right',
                            /*ticks: {
                              max: 1,
                              min: 0
                            }*/
                          }]
                          
                      },
                   }
                });

                $("#ctx").css({"height": "450px", "margin-top": "-15px"});

            }


	</script>



    
{% endblock %}