{#
{% extends '::layout/layoutAdmin.html.twig'%}
#}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link href="{{asset ('https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    {# <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />#}
    <link rel="icon" type="image/x-icon" href="{{ asset('Logo-econtact-2.png') }}" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/style-admin.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/nprogress.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/custom.min.css') }}" />

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/tabletools/2.2.4/js/dataTables.tableTools.js"></script>
    <script type="text/javascript" src="http://momentjs.com/downloads/moment.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <title>E-contact | Mes statistiques </title>
    <style>
        .container-fluid {
            padding-right: -32px;
            padding-left: 140px;
        }
        .container-fluid {
            width: 94%;
            height: 0px;
            background-color: #f7f7f700;
        }
        .table thead th {
            vertical-align: bottom;
            color: black;
            background-color: white;
        }
        .table-striped tbody {
            background-color: #ece8ea;
        }
        #total
        {
            height: 30px;
            width: 188px;
            font-weight: bold;
            text-align: center;
            font-size: 18px;
        }
        .dataTables_filter label
        {
            color: white;
        }
        .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
            color: white!important;
        }
        button.dt-button, div.dt-button, a.dt-button {
            font-size: 17px!important;
            background-color: black!important;
            background-image: none!important;
            margin-left: -291px!important;
            color: white;
            border-radius: 4px!important;
            border-color: black!important;
        }

        .exportExcel {
            padding: 11px!important;
            border: 1px solid #f5f1f1!important;
            margin: -10px!important;
            cursor: pointer!important;
            background-color: black!important;
        }
    </style>

</head>
<body>
<div class="bg-img " style=" background-image: url('https://image.noelshack.com/fichiers/2018/17/3/1524643028-commercialisti.jpg');">

    <div class="overlay" style="opacity: .7;"></div>
</div>

<div class="bg-img">
    <a href="{{ path("fos_user_profile_show") }}">
        <img class="center"src="http://www.telecontact.ma/trouver/images_econtact/Logo-econtact-2.png" alt="logo" align="center" style="margin-top: 23px; margin-left: 7px;">
    </a>
</div>


{#<div class="right_col" role="main">#}{#
    <div class="clearfix"></div>
    <br/>#}
<div class="container-fluid">


    <div class="row">
        <div class="">

            {% block body -%}
                <h1 style="color: white;margin-top: 90px;" align="center">Mes statistiques envoyées </h1>
                <br>


     
                {% if app.session.flashbag.has('notice') %}
                            {% for flashMessage in app.session.flashbag.get('notice') %}

                                <div class="alert alert-success">
                                    {{ flashMessage }}
                                </div>

                            {% endfor %}
                {% endif %}
                {#<input type="number" value="{{ emailsbyid|length  }}" readonly id="total">#}
                <table id="table" class="table table-striped table-bordered" align="center">
                    <thead>
                    <tr>
                    <tr>
                        
                        <th>Code firme</th>
                        <th>Nom destinataire</th>
                        <th>Email destinataire </th>
                        <th>Date envoyée</th>
                        <th>status</th>
                        <th>Action</th>

                        {#<th>Action</th>#}

                    </tr>
                    </tr>
                    </thead>
                    <tbody>

                    {% for entity in statisticbyid %}
                        <tr>
                            <td>{{ entity.codeFirme }}</td>
                            <td>{{ entity.sexe }} {{ entity.nom }} {{ entity.prenom }}</td>
                            <td>{{ entity.email }}</td>
                            <td>{{ entity.time|date('d-m-Y') }}</td>
                            {% if entity.status == 0 %}
                              <td>--</td>
                            {% else %}
                                <td>Transférer</td>
                            {% endif %}
                            <td>
                                <a href="{{ path('adminStatistics_show', { 'id': entity.id } ) }}" target="_blank">WEB</a>
                                <button href="#" data-toggle="modal" data-target="#exampleModal{{entity.id}}">
                                  Envoyé
                                </button>
                                <!--<a href="{{ path('adminStatistics_download', { 'id': entity.id } ) }}">  Télècharger</a>-->
                            </td>
                        </tr>
                        <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{entity.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Nouveau Email</h5>
                            
                          </div>
                          <form role="form" method="POST" action="{{path('sendCopieEmail')}}">
                          <div class="modal-body">
                            
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <label for="name"> Nom:</label>
                                        <input type="text" class="form-control" id="nom" name="nom" required>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label for="prenom"> Prénom:</label>
                                        <input type="text" class="form-control" id="prenom" name="prenom" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <label for="email"> Email:</label>
                                        <input type="email" class="form-control" id="email" name="email" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <label>Civilité:</label>
                                        <p>
                                            Homme: <input type="radio" name="sex" value="M" required/><br />
                                            Femme: <input type="radio" name="sex"  value="F" required/>
                                        </p>
                                    </div>
                                   
                                </div>
                                <input type="hidden" name="idEntity" value="{{ entity.id }}"/>
                                
                           
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn btn-primary">Envoyer</button>
                          </div>
                      </form>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    
                    </tbody>
                </table>
                {# <div class="navigation">
                     {{ knp_pagination_render(emailsbyid) }}
                 </div>#}
            {% endblock %}
        </div>
    </div>
</div>
</div>
<script>
    $(document).ready(function() {

        $.extend( jQuery.fn.dataTableExt.oSort, {
            "date-uk-pre": function (a){
                return parseInt(moment(a, "DD-MM-YYYY HH:ii:ss").format("X"), 10);
            },
            "date-uk-asc": function (a, b) {
                return a - b;
            },
            "date-uk-desc": function (a, b) {
                return b - a;
            }
        });

        $('#table').dataTable( {
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/French.json"

            },
            "aaSorting": [[ 4, "desc" ]],

            columnDefs: [
                { type: 'date-uk', targets: 4 }
            ],
            dom: 'lBfrtip',
            buttons: [
                {
                    extend: 'excel',
                    text: 'Export excel',
                    className: 'exportExcel',
                    filename: 'Export excel',
                    exportOptions: {
                        modifier: {
                            page: 'all'
                        }
                    }
                }
            ]

        });
    } );
</script>
</body>
</html>

