{#

<div class="span3">
    <div class="well">
        <ul class="nav nav-list">
            <li class="nav-header">Administration</li>
            <li>
                <a href="{{ path('adminProduits') }}">Produits</a>
            </li>
            <li>
                <a href="{{ path('adminCategories') }}">Catégories produits</a>
            </li>

            <li>
                <a href="{{ path('adminClient') }}">Clients</a>
            </li>
            <li>
                <a href="{{ path('adminUsers') }}"> Commercial</a>
            </li>
            <li>
                <a href="{{ path('adminTelecontact') }}"> Telecontact</a>
            </li>




        </ul>
    </div>
</div>#}
