{#{% trans_default_domain 'FOSUserBundle' %}#}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link href="{{asset ('https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ asset('Logo-econtact-2.png') }}" />



</head>
<style>
    .form {
        background: #FFFFFF;
        max-width: 390px;
        margin: -84px auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
    label {
        float: left!important;
    }

</style>
<body>
<div class="bg-img "
     style="
         background-image: url('https://image.noelshack.com/fichiers/2018/01/5/1515156608-background1.jpg');


    ">
    <div class="overlay"></div>
</div>

{#<div class="bg-img">
    <a href="{{ path("fos_user_security_login") }}">
        <img class="logo  img-logo" src="https://image.noelshack.com/fichiers/2018/02/1/1515423139-logo.png"  >
    </a>
</div>#}


<!-- /Logo -->


<!-- /login -->
<div class="login-page">

    <div class="form">
        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST">
            {{ form_widget(form) }}
            <br />
            <button>Modifier le mot de passe</button>
        </form>
    </div>

</div>
</body>
</html>
