{% trans_default_domain 'FOSUserBundle' %}

    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8" />
        <link href="{{asset ('https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
       {# <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />#}
        <link rel="icon" type="image/x-icon" href="{{ asset('Logo-econtact-2.png') }}" />
        {% block stylesheets %}{% endblock %}


    </head>
    <body>
    <div class="bg-img " style="background-image: url('http://www.telecontact.ma/trouver/images_econtact/background1.jpg');">
        <div class="overlay"></div>
    </div>

    <div class="bg-img">
        <a href="{{ path("fos_user_security_login") }}">
            <img class="logo" src="http://www.telecontact.ma/trouver/images_econtact/Logo-econtact-2.png" alt="logo">
        </a>
    </div>


    <!-- /Logo -->


    <!-- /login -->
    <div class="login-page">
        {% block fos_user_content %}
        {% if error %}
            <div style="color: red;text-align: center">{{ error|trans }}</div>
        {% endif %}
        <div class="form">
            <form action="{{ path("fos_user_security_check") }}" method="post" class="login-form">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Identifiant" />


                <input type="password" id="password" name="_password" required="required" placeholder="Mot de passe " />
                <br />
                <button>Se connecter</button>
                <div style="margin-top: 10px;">
                <a href="{{ path('fos_user_resetting_request') }}">Mot de passe perdu ?</a>
        </div>
                <br />

            </form>
        </div>

    </div>

    <!-- /login -->



    <!-- Back to top -->
    <div id="back-to-top"></div>
    <!-- /Back to top -->

    <!-- Preloader -->
    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    </body>
    </html>
{% endblock fos_user_content %}



